[submodule "external/ktir-mlir-frontend"]
	path = external/ktir-mlir-frontend
	url = https://github.com/torch-spyre/ktir-mlir-frontend.git
[submodule "external/dataflow-scheduler-dialects"]
	path = external/dataflow-scheduler-dialects
	url = https://github.com/KFAFSP/dataflow-scheduler-mlir-dialects.git
	branch = kfaf/dataflow-dialects
